.Header {
  flex-grow: 1;

  header {
    background: #fff;
    color: #000;
    & > div {
      display: flex;
      justify-content: space-between;
      flex-direction: row;
    }
  }

  &-button {
    margin-left: 12px;
    margin-right: 20px;
  }

  & &-logout {
    color: #8E54E9;
    display: inline-block;
    margin-left: 20px;
    border-left: 1px solid #ccc;
    padding-left: 20px;
    cursor: pointer;

    &:hover {
      opacity: 0.8;
    }
  }

  &-rightSide {
    display: flex;
    align-items: center;
  }
}